/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
public/source/image/product/1586527213000.jpg
public/source/image/product/17757349_1302743516512503_2385112718405684372_n.jpg
public/source/image/product/41348709.jpg
public/source/image/product/6.png
public/source/image/product/7.png
public/source/image/product/Heavy-Breathing-Cat.jpg
public/source/image/product/Y-U-No.jpg
public/source/image/slide/1586527213000.jpg
public/source/image/slide/abc.jpg
public/source/image/slide/Heavy-Breathing-Cat.jpg
public/source/image/slide/Y-U-No.jpg
